@model Dovid.Models.Station
@{ ViewBag.Title = "Додавання станції";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Додавання станції</title>
</head>
<body>
    <div id="content">
        @Html.ValidationSummary(false)
        <Form method="post" action="">
            <Table>
                <Tr>
                    <td> <p> Введіть назву станції: </p> </td>
                    <Td>
                        @Html.EditorFor(model => model.Name)
                    </Td>
                </Tr>
                <Tr>
                    <td> <p> Введіть область розташування станції: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.Oblast)
                    </td>
                </Tr>
                <Tr>
                    <td> <input type="submit" value="Додати" onclick="add()" /> </td>
                </Tr>
            </Table>
        </Form>
    </div>
</body>
</html>
